transformers==4.49.0
einops
pytorch_lightning
open_clip_torch
ipywidgets
segment-anything
imageio
scipy
opencv-python
matplotlib
omegaconf
faiss-gpu-cu12 # if using cu11x change to faiss-gpu-cu11 or faiss-cpu
pillow
tqdm
scikit-learn
ultralytics
sentencepiece
accelerate
